:root {
  --width: 720px;
}
html {
  overflow-y: scroll;
}

body {
  color: #DDD;
  background-color: #282c35;
}

h1, h2, h3, h4, h5 {
  margin-top: 40px;
  margin-bottom: 25px;
  font-weight: bold;
  line-height: 1.1;
  overflow-wrap: break-word;
}

h1 {
  font-size: 1.7em;
}

h2 {
  font-size: 1.4em;
}

h3 {
  font-size: 1.1em;
}

h4 {
  padding: 14px 0 14px 0;
}

h5 {
}

hr {
  border-top: 1px dashed #4f4e4e;
  max-width: var(--width);
}

a {
  color: #DDD;
  text-decoration: none;
  border-bottom: 1.5px solid rgba(207, 215, 234, 0.2);
}

a:hover {
  color: #FFF;
}

.container {
  max-width: 96vw;
}

#content {
  font-size: 16px;
  line-height: 27px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#content > * {
  width: 96vw;
  max-width: var(--width);
}

#title {
  font-size: 2.5em;
  margin: 25px 0 0 0;
  text-align: center;
  width: 100%;
}

#title-date {
    text-align: center;
    color: #5b5f68;
    margin-top: 12px;
    margin-bottom: 35px;
    display: block;
}

#about {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#about > * {
  width: 96vw;
  max-width: var(--width);
}

.link-in-code {
  color: #ff6204;
  text-decoration: none;
  border-bottom: 1.5px solid rgba(255, 98, 4, 0.2);
}

.link-in-code:hover {
  color: #c7254e;
  text-decoration: none;
}

/* Images in the article */
.picture-legend {
  color: #9d9d9d;
  font-size: 12px;
  text-align: center;
}

.centered-image {
  text-align: center;
}

.margined {
  margin-top: 40px;
  margin-bottom: 40px;
}

#gifka {
  max-width: 900px;
}

.wide-boi {
  width: 100vw;
  position: relative;
  left: calc(-50vw + 50%);
  text-align: center;
  margin: 35px 0 35px 0;
}

.image {
  max-width: 900px;
}

/* Notes in the article */
.note-left {
  width: 100%;
  z-index: 0;
  position: static;
  margin: 0 0 10px;
  color: #979595;
  line-height: 1.5rem;
	font-size: 13px;
}

.note-right {
  width: 100%;
  z-index: 0;
  position: static;
  margin: 0 0 10px;
  color: #979595;
  line-height: 1.5rem;
	font-size: 13px;
}

#note-normal {
  width: 100%;
  z-index: 0;
  position: static;
  margin: 0 0 10px;
  color: #979595;
  line-height: 1.5rem;
}

.note-sign {
  display: none;
}

#note-normal .note-sign {
  display: inline-block;
}

#note-normal .note-sign {
  display: inline-block;
}

.comment {
	font-style: italic;
	color: #828282;
}

.code > figcaption:nth-child(1) > a:nth-child(2) {
  font-size: 12px;
}

.highlight {
	font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
	font-size: 14px;
	line-height: normal;
	padding: 10px 10px 10px 10px;
	overflow: hidden;
	position: relative;
	color: #f8f8f2;
	border: 2px dotted #4c4d4f;
	border-radius: 5px;
}

.highlight pre {
	margin-bottom: 0;
	overflow-x: auto;
	overflow-y: hidden;
}
/* Table of content in articles */
.toc {
  line-height: 30px;
}

.toctitle {
  display: block;
  font-size: 30px;
  margin-top: 0.83em;
  margin-bottom: 0.83em;
  margin-left: 0;
  margin-right: 0;
}

.text-muted{
    text-align: center;
    color: #5b5f68;
    margin-bottom: 35px;
}

#article-list {
  margin-top: 20px;
}

#article-list a {
  text-decoration: none;
}

#author {
  margin: 15px 0;
  max-width: var(--width);
}

#author-photo {
  text-align: center;
}

#author-photo img {
  background-color: transparent;
}

#author-description {
  font-size: 15px;
  line-height: 25px;
  padding: 15px 15px 0 15px;
}

#feedback-footer {
  font-size: 14px;
  line-height: 15px;
  margin: 15px 0;
  text-align: center;
}

#home-button-row {
  padding: 20px 0;
  text-align: center;
}

#home-button {
  text-decoration: none; 
  text-align: center; 
  display: block; 
  height: 100%; 
  width: 100%;
  font-size: 22px;
  border: 0;
}

@media only screen and (min-width: 575px) {
  .article-list-date{
    text-align: right;
  }
}

.comment-scroll-arrow {
  position: fixed;
  left: 20px;
  bottom: 20px;
  display: inline-block;
  text-decoration: none;
  width: 48px;
  height: 48px;
  font-size: 140%;
  font-weight: 600;
  font-family: "Ubuntu";
  color: #DDD;
  border: solid 2px #FFF;
  background-color: #282c35;
  border-radius: 50%;
  cursor: pointer;
  z-index: 5;
  line-height: 1.42;
  box-sizing: content-box;
}

.comment-scroll-arrow::before {
  content: "▲";
  position: absolute;
  font-size: 18px;
  top: 42%;
  left: 50%;
  transform: translateX(-50%) translateY(-43%);
  transition: transform .2s;
}

.copy-code-button {
  font-weight: bold;
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  cursor: pointer;
  outline: inherit;
  font-size: 14px;
  position: absolute;
  right: 8px;
  top: 3px;
}

.contacts {
  padding: 10px 0 0 0;
  text-align: center;
  vertical-align: middle;
  font-size: 16px;
}

code {
  background: rgba(214, 51, 132, 0.1);
  padding: 2px 6px;
  border-radius: 4px;
}

.highlight code {
  background: transparent;
  padding: 0;
  border-radius: 0;
}

.article-figure {
  width: unset;
  max-width: 96vw;
  margin: 14px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 14px;
}

.article-figure img {
  border-radius: 3px;
  height: auto;
  max-width: 96vw;
}
